<% include partials/header%>

    

<div class="container">
    <h3 style="text-align: center; margin-bottom: 2rem;">Logging mode</h3>
    <div class="row">

        <div class="col-md-7" style="display: flex;  justify-content: space-between; ">
            
            <h6>Description: <%=tool[0].connections[0].description%> </h6><br>
            <h6>Thread Type: <%=tool[0].connections[0].thread_type%> </h6><br>

        </div>
        <div class="col-md-5" style="display: flex;  justify-content: space-between; ">


            <h6>Operation: <%=tool[0].connections[0].operation%> </h6><br>
            <h6>Target Torque: <%=tool[0].connections[0].target_torque%> </h6><br>

        </div>

    </div>
    <div class="row">


        <div class="col-md-7" style="max-height: 480px;">

            <div class="chart-container" style="margin: 0 auto;
                    position: relative;
                    height:480px; 
                    width:400px;margin-top: 0;">
                <canvas id="myCanvas"> </canvas>
            </div>

        </div>
        <div class="col-md-5" style="margin-top:0; margin-bottom: 2rem; max-height: 480px;">
            <div class="card" style="margin-top: 0rem; border-radius: 10px;">
                <div class="card-body">
                    <h6>Max Torque</h6>
                    <h6 id="max-torque"></h6>
                    <h5 class="text-center">Measured Torque</h5>
                    <h4 id="measured-torque" class=" text-center"></h4>
                </div>

            </div>
            <div style="margin-top: 2rem;">
                <a href="javascript:history.back()" class="btn btn-primary btn-block">Back</a>
                
                    <button class="btn btn-primary btn-block" onclick="updateTorque()">Stop Logging</a></button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="/socket.io/socket.io.js" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
    const socket = io();
    let counter = 0;
    let max_torque = 0;
    let mtorque = 0;
    let tool_id= "<%=tool[0]._id%>"
    let connection_id= '<%=tool[0].connections[0].id%>'
    

    
    

    socket.on('torque', function (data) {
        
        mtorque = data;


        if (mtorque > max_torque) {
            max_torque = mtorque;
        }
        else {
            max_torque = max_torque;
        }

        let measured = document.getElementById('measured-torque');
        let max = document.getElementById('max-torque');
        max.innerHTML = max_torque;
        measured.innerHTML = mtorque;

        myChart.data.labels.push(counter);
        myChart.data.datasets.forEach(dataset => {
            dataset.data.push(data);
        });
        counter++;
        myChart.update();

        
        
    });

    async function updateTorque(){
        
        const torque_data = {tool_id,connection_id, max_torque };
        const options = {
            method: 'POST',
            body: JSON.stringify(torque_data),
            headers: {
                'Content-Type': 'application/json'
            }
        }
        try{
          const res = await fetch('/api', options);  
          console.log(torque_data);
        } catch(err){
            console.log(err);
        }
       
        
    }

    var ctx = document.getElementById('myCanvas').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Voltage"],
            datasets: [{
                label: "Voltage",

                borderColor: 'rgb(41,128,185)',
                data: []
            }]
        },
        options: {
            responsive: true,
            elements: {
                point: {
                    radius: 0
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 1200,
                        min: 0,
                        step: 0.5
                    }
                }],

            }
        }

    });
</script>

<% include partials/footer%>