<% include partials/header%>
<div class="container" style="margin-top: 2rem;  ">
        
    <div  >
            <div class="card">
            <div class="card-body" style="display: flex; flex-flow: wrap; justify-content: space-between">
            <h6>Customer: <%=tool.customer%></h6> <br>
            <h6>Tool Type: <%=tool.tool_type%></h6><br>
            <h6>FC: <%=tool.file_code%></h6><br>
            <h6>Serial: <%=tool.tool_serial%></h6><br>
        </div>
        </div>


    </div>
    <div class="row">

        <div class="col-md-6">

            <div class="card">
                

            <div class="card-body">
                <form action="/add_connection/<%=tool._id%>" method="POST" style="margin: 2rem; margin-bottom: 1rem;">
                    <h4 style="text-align: center;">New Connection Data</h4>
                    <div class="form-group">
                        <label for="">Description:</label>
                        <input type="text" name="description" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Connection #:</label>
                        <input type="text" name="connection_number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for=""> Connection Type:</label>
                        <input type="text" name="connection_type" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Thread Type:</label>
                        <select class="form-control" name="thread_type">
                            <option>RH</option>
                            <option>LH</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Operation:</label>
                        <select class="form-control" name="operation">
                            <option>Make</option>
                            <option>Brake</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Target Torque:</label>
                        <input type="text" name="target_torque" class="form-control" required> 
                    </div>
                </div>
                    <div>
                            <button type="submit" class="btn btn-primary btn-block"> Add Connection</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="col-md-6" style="display: flex; flex-direction: column; align-content: center;margin-top: 2rem;" >
                <a href="/view-connections/<%=tool._id%>" class="btn btn-primary" style="padding: 2rem;  margin:0.5rem; font-size: 2rem;"> View Connections</a>
            
            
            
        </div>

    </div>
</div>

<% include partials/footer%>