<% include partials/header%>

<div class="container">
        <script src="https://kit.fontawesome.com/2c5fa142ad.js" crossorigin="anonymous"></script>
        <table class="table table-bordered table-hover " style="margin-top: 3rem;">
                <thead class="thead-dark">
                    <tr style="text-align:center ;">
                        <th>No.</th>
                        <th>FC</th>
                        <th>Serial</th>
                        <th>Tool Type</th>
                        <th>Costumer</th>
                        <th>Date of creation</th>
                        <th>Operation</th>
                    </tr>
                </thead>
               <tbody class="">
                    <% for(var i = 0; i < tools.length; i++){ %>
                    <tr>
                        <td> <%= i+1 %></td>
                        <td><%= tools[i].file_code %></td>
                        <td> <%= tools[i].tool_serial %></td>
                        <td> <%= tools[i].tool_type %></td>
                        <td> <%= tools[i].customer %></td>
                        <td><%= tools[i].created_at.toLocaleString()%></td>
                        <td style="text-align-last: center;">
                            <a href="/edit/<%= tools[i]._id %>"><i class="far fa-edit"></i></a>
                            <a style="margin-left:20px; color: indianred;" href="/delete/<%= tools[i]._id %>"><i class="far fa-trash-alt"></i></a>
                            <a style="margin-left:20px; color: black;" href=""><i class="fas fa-print"></i></a>
                        </td>

                    </tr> 
                    <%}%>
                </tbody>
            </table>
</div>

<% include partials/footer%>